{% extends 'layout.html' %}
{% block content %}
{% if user.is_authenticated %}
    <h1 class="maincont-ttl">Bienvenido - {{ user.username }}</h1>
{% else %}
    <p>No estás autenticado. <a href="{% url 'users:login' %}">Iniciar sesión</a></p>
{% endif %}
    <ul class="b-crumbs">
        <li><a href="/">Home</a></li>
        <li>Mi Cuenta</li>
    </ul>
    <h2>{{mensaje}}</h2>
    <article class="page-cont">
        <div class="page-styling">
            <div class="auth-wrap">
                <div class="auth-col">
                    <h2>Datos Personales</h2>
                    <form method="post" action="" class="register">

                        <p class="auth-submit">
                            <input type="submit" value="Actualizar Datos">
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </article>
{% endblock %}