<!--navbar-->
<div class="container-fluid page-styling site-header-before">
    <div class="row">
        <div class="col-lg-4">
            <ul class="links_list links_list-align-left align-center-desktop topbar-social">
                <li>
                    <p class="links_list-value">

                </li>
            </ul>
        </div>
        <div class="col-lg-8 contactos">
            <ul class="links_list links_list-align-right align-center-desktop topbar-contacts">
                <li>
                    <p class="links_list-label">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </p>
                    <p class="links_list-value">
                        <a href="http://maps.google.com" target="_blank" rel="nofollow">Calle Independencia 1122</a>
                    </p>
                </li>
                <li>
                    <p class="links_list-label">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </p>
                    <p class="links_list-value">
                        <a href="mailto:support@email.com">Support@Email.com</a>
                    </p>
                </li>
                <li>
                    <p class="links_list-label">
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                    </p>
                    <p class="links_list-value">
                        <a href="tel:4785929899">+56 952034094</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>