{% extends 'layout.html' %}
{% block content %}
    <h1 class="maincont-ttl">Carrito</h1>
    <ul class="b-crumbs">
        <li><a href="/">Home</a></li>
        <li>Carrito</li>
    </ul>
    <div class="page-styling">
    <div class="woocommerce prod-litems section-list">
        {% for key,value in request.session.cart.items %}
            <article class="prod-li sectls">
                <div class="prod-li-inner">
                    <a href="product.html" class="prod-li-img">
                        <img src="{{value.image}}" alt="">
                    </a>
                    <div class="prod-li-cont">
                        <div class="prod-li-ttl-wrap">
                            <p>
                                <a href="#">{{value.category}}</a>
                            </p>
                            <h3><a href="{% url 'web:product_detail' value.product_id %}">{{value.name}}</a></h3>
                        </div><!--
                    No Space
                    -->
                        <div class="prod-li-prices">
                            <div class="prod-li-price-wrap">
                                <p>Precio Unid</p>
                                <p class="prod-li-price">${{value.price}}</p>
                            </div>
                            <div class="prod-li-qnt-wrap">
                                <p class="qnt-wrap prod-li-qnt">
                                    Cant:
                                    <input type="text" value="{{value.quantity}}">

                                </p>
                            </div>
                            <div class="prod-li-total-wrap">
                                <p>Total</p>
                                <p class="prod-li-total">${{value.subtotal}}</p>
                            </div>
                            <div class="prod-li-total-wrap">
                                <p>Acciones</p>
                                <a class="checkout-button button" href="{% url 'web:product_detail' value.product_id %}">Modificar</a>
                            </div>
                        </div><!--
                No Space
                -->
                    </div>
                    <div class="prod-li-info">
                        <p class="prod-li-add">
                            <a href="{% url 'web:delete_cart' value.product_id %}" class="button hover-label prod-addbtn"><i
                                    class="icon ion-close-round"></i><span>Eliminar</span></a>
                        </p>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>


    <div class="cart-actions">
        <div class="coupon">
            <form class="form-coupon" method="post" action="{% url 'web:cart' %}">
                {% csrf_token %}
                <div class="coupon-container">
                    <input type="text" name="coupon" placeholder="Cupón de descuento">
                    <button type="submit" class="button btn-descuento">
                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="cart-collaterals">
            <a href="{% url 'web:clear_cart' %}" class="checkout-button button">Borrar todo</a>
            <a href="" class="checkout-button button">Realizar Pedido</a>
            <div class="order-total">
                <p class="cart-totals-ttl">Total</p>
                <p class="cart-totals-val">${{request.session.cartTotalAmount}}</p>
            </div>
        </div>
    </div>


</div>
    <div class="row">
                <div class="col-12 alertas">
                {% if request.session.coupon_code %}
                    <p class="cart-totals-ttl">Cupón aplicado: {{ request.session.coupon_code }}</p>
                {% endif %}
                {% if message %}
                    <p class="message">{{ message }}</p>
                {% endif %}
                </div>
    </div>

{% endblock %}